@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family:'Poppins', 'Sans-serif' ;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    background-image: url(img/fonfo23.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    color: #fffdfc;
    font-size: 25px;
    font-weight: 800;

}

.menu .navbar ul li{
    position: relative;
    float: left;

}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #fffdfc;
    display: block;
    font-weight: 600;

}

.menu .navbar ul li a:hover{
    color: #CE967B;
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;

}

.menu label{
    cursor: pointer;
    display: none;
}

.header-content{
    text-align: center;
}

.header-content h1{
    font-size: 60px;
    line-height: 80px;
    color: #F9FAFC;
    text-transform: uppercase;
    margin-bottom: 35px;

}

.header-content p{
    font-size: 16px;
    color: #c5c5c5;
    padding: 0 250px;
    margin-bottom: 25px;
}

#seccion{
    width: 70%;
    margin: 20px;
    float: left;
}

#seccion h2{
    text-transform: uppercase;
    color: black;
    text-align: center;
}

#seccion p{
    text-align: justify;
}

#columna{
    width: 20%;
    margin: 20px 0px;
    float: left;
    padding: 20px;
}

#columna img{
    width: 300px;
    float: left;
    margin-bottom: 50px;
}

#columna center{
    margin-bottom: 50px;
}

.footer{
    clear: both;
    padding: 100px 0;
    background-color: #000000;

}

.footer-content{
    display: flex;
    justify-content: space-between;
}

.link h3{
    font-size: 18px;
    color: #F9FAFC;
    margin-bottom: 15px;
}

.link a{
    font-size: 16px;
    color: #c5c5c5;
    display: block;
    margin-bottom: 15px;
}

.link h4{
    margin-right: 50%;
    color: #c5c5c5;
    text-transform: uppercase;
}